<html>
<head>
  <title>Financial Database Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
 <!--CSS to align form for user-->
 
</head>

<body>
<!--Nav bar-->
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/ra2929/w4111-proj1">Financial Data</a>
            </li>
            <li class="nav-item">
                <a href="http://0.0.0.0:8111" class="nav-link" href="#">Home</a>
            </li>
          
        </ul>
    </nav>
  <!--start of the ticker selection-->
 <div class="row align-items-center justify-content-center">
      <form method="POST" action="/sub" class="form-inline">
        <label for="ticker"> Ticker :</label>
        <select name="ticker" >
        {% for x in items %}
          <option value="{{x}}">{{x}}</option>
        {% endfor %}
        </select>
        <label for="Start Date"> Start Date : {{startDate}}</label>
        <input type="Date" class="form-control" name="date_start" min='2019-09-20' value='2019-09-20'>
        <label for="End Date"> End Date : {{endDate}}</label>
        <input type="Date" class="form-control" name="date_end"  max='2019-11-04' value='2019-11-04'>
        <button type="submit" class="btn_submit">Submit</button>
      </form>
  </div>

    <div class="chart" id="bargraph">
      <script>
          var graphs = {{plot | safe}};
          Plotly.plot('bargraph',graphs,{});
      </script>
    </div>

</body>
</html>
