<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="bargraph">

                </div>
            </div>
        </div>
    </div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
  <p>Ticker: <input type="text" name="ticker"> 
  <P>Start Date (After: September 20, 2019):
  <input type="date" name="date_start" min="2019-09-20"><br>
  <p>End Date (Before: November 5, 2019)
  <input type="date" name="date_end" max="2019-11-5"><br>
  <p>
  <input type="submit" value="Retrieve Chart"></p>
</form>

</body>


</html>
