<!DOCTYPE html>
<html lang="en">
<head>
  <title>Financial Database project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Financial Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!--Candlestick graph-->
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<!--Form for the candlestick graph-->
<form class="form-inline" action="/action_page.php">
  <label for="Ticker">Ticker:</label>
  <input type="" class="form-control" id="ticker">
  <label for="Start Date">Start Date:</label>
  <input type="Date" class="form-control" id="date-start">
  <label for="End Date">Start Date:</label>
  <input type="Date" class="form-control" id="date-end">
  <label for="Candle Size">Candle Size:</label>
    <select class="custom-select">
  <option selected>Select time</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="30">30</option>
  </select>
 <button type="submit" class="btn btn-primary">Submit</button>
</form
</body>
</html>
